<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etalien.cloudtest">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28" />
    <application android:label="ETAlien Cloud Test" />
    <instrumentation
        android:name="com.etalien.cloudtest.Runner"
        android:functionalTest="true"
        android:handleProfiling="false"
        android:targetPackage="com.etalien.booster" />
</manifest>
